@page "/"
<h3>Welcome to E-Market</h3>
<p>Browse and shop your favourite products.</p>

<nav>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/products">Products</NavLink></li>
        <li><NavLink href="/cart">Cart</NavLink></li>
        <li><NavLink href="/orders">Orders</NavLink></li>
        <li><NavLink href="/addcategory">Add Category</NavLink></li>
        <li><NavLink href="/addproduct">Add Product</NavLink></li>
    </ul>
</nav>